.home-content {
    min-height: 100vh;
    background-color: #DCDDEE;
}

.plugin-gallery {
    height: fit-content;
}

.plugin-gallery-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.plugin-gallery-title {
    font-family: MontserratTitle;
}


.plugin-gallery-description {
    font-family: HelveticaNeueText;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00CA57;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00CA57;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.button-profile-discord {
    background-color: #5865F2;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: white;
    height: 42px;
    font-family: HelveticaNeueText;
}

.button-disconnected-discord {
    background-color: #F25858;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: white;
    height: 42px;
    font-family: HelveticaNeueText;
}