{% extends 'default/layout/layout.html' %}

{% block title %}
{{ plugin.name }} - Settings
{% endblock %}

{% block plugin_stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/' + plugin.name + '/css/plugin.css') }}">
{% endblock %}

{% block content %}
<!-- Main -->
<div class="container">
  <form action="/guilds/{{guild.id}}/plugins/{{ plugin.id }}" method="post">
    <h2>
      <nav>
        <ul>
          <li><a href="/guilds/{{guild.id}}" role="button" class="outline">
              < Retour</a>
          </li>
        </ul>
        <ul>
          <li><img src="{{url_for('static', filename='plugins/' + plugin.name.lower() + '/img/icon.png')}}"></li>
          <li>{{ plugin.name.title() }}</li>
        </ul>
        <ul>
          <li>
            <label for="switch">
              <input type="checkbox" id="switch" class="plugin-switch" name="{{plugin.id}}" role="switch" {% if
                plugin.enabled %} checked {% endif %}>
            </label>
          </li>
        </ul>
      </nav>
    </h2>
    <p>Ce plugin permet de rester au courant des dernières actualités des comptes instagram que vous souhaitez. Ajouter
      le nom d'un compte et le channel dans lequel vous souhaitez que les derniers posts soient publiés. Et le Bot fera
      une vérification toutes les 3 min du dernier post Instagram de chaque compte. En cas de nouveautés il vous enverra
      un message avec un lien vers le post dans le channel prévu à cet effet.</p>
    <div id="settings">
      <article>
        <header>
          Compte Instagram
        </header>
        <label for="instagram-login">
          Login
          <input type="text" id="instagram-login" name="instagram-login"
            value="{{ plugin.get_settings_manager().get('instagram-login') }}" />
        </label>
        <label for="instagram-login">
          Mot de passe
          <input type="password" id="instagram-password" name="instagram-password"
            value="{{ plugin.get_settings_manager().get('instagram-password') }}" />
        </label>
      </article>
      <article>
        <header>Liste des comptes</header>
        <div id="profiles-list">
          {% set profile_list = plugin.get_settings_manager().get('instagram-profile-groups') %}
          {% set channel_list = plugin.get_settings_manager().get('instagram-channel-groups') %}
          {% for index in range(profile_list|length) %}
          <div class="grid">
            <label for="instagram-profile-groups">
              Compte instagram
              <input type="text" id="instagram-profile-groups" name="instagram-profile-groups"
                placeholder="Entrer le nom d'un compte instagram..." value="{{ profile_list[index] }}">
            </label>
            <label for="instagram-channel-groups">
              Channel
              <select id="instagram-channel-groups" name="instagram-channel-groups">
                <option value="-1">Please select a channel...</option>
                {% for channel in guild.get_text_channels() %}
                <option value="{{ channel.id }}" {% if channel.id | string==channel_list[index] %} selected {% endif %}>
                  {{channel.name}} </option>
                {% endfor%}
              </select>
          </div>
          {% endfor %}
        </div>
        <div class="grid">
          <div>
            <input type="button" value="Ajouter un compte" onclick="add_profile()" />
          </div>
          <div></div>
          <div>
            <input type="button" value="Supprimer un compte" onclick="remove_profile()" />
          </div>
        </div>
      </article>
    </div>

    <div class="grid">
      <div></div>
      <div>
        <input type="submit" value="Sauvegarder les settings" />
      </div>
      <div></div>
    </div>
  </form>
</div>
{% endblock %}

{% block plugin_script %}
<script src="{{ url_for('static', filename='plugins/' + plugin.name + '/js/plugin.js') }}"></script>
{% endblock %}