<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Plugin gallery</title>
  <link rel="stylesheet" href="../static/css/home.css">
  <script src="script.js"></script>
</head>
<body>
  <div class="home">
      <div class="home-content">
          <div class="plugin-gallery">
              <div class="plugin-gallery-title">Plugin gallery</div>
              <div class="plugin-gallery-description">Which plugin are we going to configure today?</div>
              <div class="plugin-gallery-section">
                  <div class="plugin-gallery-section-title">Monetize</div>
                  <div class="plugin-gallery-tiles">
                      <div class="plugin-tile">
                          <div class="plugin-tile-row">
                            <div class="plugin-tile-icon">
                                icon
                            </div>
                            <div class="plugin-tile-button">
                                button
                            </div>
                          </div>
                          <div class="plugin-tile-title">
                              Memberships
                          </div>
                          <div class="plugin-tile-description">
                              
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>