<!DOCTYPE html>
<html>
    <head>
        <title>AssoBot - MIAGE Connection</title>
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    </head>

    <body>
        {% if current_user %}
            <img src="{{current_user.avatar_url}}" alt="image_avatar">
            <p>Logged in as {{current_user.username}}#{{current_user.discriminator}}</p>
            <p>ID : {{current_user.id}}</p>
        <br>
        <br>
            <ul>
                {% for guild in guilds %}
                    <li>{{guild}}</li>
                {% endfor %}
            </ul>

            <a href="/logout"><button>Logout</button></a>
        {% else %}
            <a href="{{redirect_oauth_uri}}"><button>Login with discord</button></a>
        {% endif %}

    </body>
</html>