* {
    font-family: 'Montserrat';
}

#layout-footer {
    text-align: center;
}

#mc-logo-header {
    width: 25%;
    height: auto;
}

#login-section {
    text-align: center;
}

#header-layout {
    text-align: center;
}