* {
    font-family: 'Montserrat';
}

#layout-footer {
    text-align: center;
}

#login-section {
    text-align: center;
}

#logout {
    width: 6em;
}

#logout:hover #login_message {
    display: none
}

#logout #logout_message {
    display: none;
}

#logout:hover #logout_message {
    display: inline;
}

#header-layout {
    text-align: center;
}