{% extends 'default/layout/layout.html' %}

{% block title %}
Choose your guild
{% endblock %}

{% block content %}
<!-- Main -->
<div class="container">
    <h1>Sélectionner un serveur</h1>
    {%- for row in guilds|batch(3) %}

    <div class="grid">
        {% for guild in row %}
        <article>
            <header>
                <nav>
                    <ul>
                        <li>
                            {% if guild.icon_url %}
                            <img src="{{ guild.icon_url}}" alt="Guild Icon URL" style="border-radius: 100px;" />
                            {% else %}
                            <img src="{{ url_for('static', filename='default/img/default-guild.png') }}" alt="Guild Icon URL" style="border-radius: 100px;" />
                            {% endif %}
                        </li>
                        <li>{{ guild.name}}</li>
                    </ul>
                </nav>
            </header>
            <a href="/guild/{{guild.id}}" role="button">Configurer</a>
        </article>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}