{% extends 'default/layout/layout.html' %}

{% block title %}
{{ guild.name }} - Admin Page
{% endblock %}

{% block content %}
<!-- Main -->
<div class="container">
    <h1>
        {% if guild.icon_url %}
        <img src="{{ guild.icon_url }}" alt="Guild Icon URL" style="border-radius: 100px;" />
        {% else %}
        <img src="{{ url_for('static', filename='default/img/default-guild.png') }}" alt="Guild Icon URL"
            style="border-radius: 100px;" />
        {% endif %}
        &nbsp; {{ guild.name }}
    </h1>
    <p>
        Vous retrouverez ci-dessous la liste des plugins installés sur votre serveur discord avec la possibilité
        d'activer ou de désactiver chaque plugin installé via le bouton à bascule.
    </p>

    <p>A la suite, vous avez également la possibilité d'ajouter les fonctionnalités que vous souhaitez en installant
        directement les plugins dans la section correspondante.
        De plus, vous pouvez aussi développer votre propre module afin de l'ajouter au Bot et à votre serveur ! </p>

    <div class="grid">
        <nav>
            <ul>
                <li>
                    <h2>Liste des plugins</h2>
                </li>
            </ul>
            <ul>
                <li>
                    <button data-target="modal-install" onClick="toggleModal(event)">
                        Ajouter un plugin
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    {% if guild.plugin_list|length == 0 %}
    <div class="grid">
        <div></div>
        <div style="text-align: center;">
            <img src="{{ url_for('static', filename='default/img/plugin.png') }}"/>
            <p></p>
            <p>Aucun plugin installés</p>
        </div>
        <div></div>
    </div>
    {% else %}
    {% for plugin_row in guild.plugin_list|batch(2) %}
    {% set row_lenght=plugin_row|length % 2 %}
    <div class="grid">
        {% for plugin in plugin_row %}
        <article>
            <header>
                <nav>
                    <ul>
                        <li><img
                                src="{{url_for('static', filename='plugins/' + plugin.name.lower() + '/img/icon.png')}}">
                        </li>
                        <li>{{ plugin.name }}</li>
                    </ul>
                    <ul>
                        <li>
                            <label for="switch">
                                <input type="checkbox" id="switch" class="plugin-switch"
                                    name="{{ guild.id }}~{{ plugin.id }}" role="switch" value="true" {% if
                                    plugin.enabled %} checked {% endif %}>
                            </label>
                        </li>
                    </ul>
                </nav>
            </header>
            <p>{{ plugin.description }}</p>
            <footer>
                <nav>
                    <ul>
                        <li><a href="/guilds/{{ guild.id }}/plugins/{{ plugin.id }}" role="button">Configure</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/guilds/{{ guild.id }}/plugins/{{ plugin.id }}/uninstall"
                                onclick="return confirm('Are you sure you want to uninstall this plugin {{ plugin.name }} ?')">
                                <i class="fa-solid fa-trash-can" style="color: var(--muted-color);"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </footer>
        </article>
        {% endfor %}
        {% if row_lenght > 0 %}
        {%- for n in range (2-row_lenght) %}
        <div></div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    </hr>
</div>

<!-- Modal -->
<dialog id="modal-install">
    <form method="post" enctype="multipart/form-data">
        <article>
            <a href="#close" aria-label="Close" class="close" data-target="modal-install" onClick="toggleModal(event)">
            </a>
            <h3>Ajouter un plugin</h3>
            <input type="file" id="file" name="file">
            <footer>
                <nav>
                    <ul></ul>
                    <ul>
                        <li>
                            <button href="#cancel" class="secondary" data-target="modal-install"
                                onClick="toggleModal(event)">
                                Annuler
                            </button>
                        </li>
                        <li>
                            <button type="submit">Installer</button>
                        </li>
                    </ul>
                </nav>
            </footer>
        </article>
    </form>
</dialog>

{% endblock %}